<!DOCTYPE html>
<html>
<header class="bg-image">
  <div class="container">
    <h1>WEMPOWER</h1>
    <h2>We stand for women.</h2>
    <%= link_to 'Sign Up Now!',new_user_registration_path, class:'btn btn-transparent' %>

  </div>
</header>

<section class="">
  <div class="container">
    <div class="col-3 text--center">
			<%= image_tag("wempower.jpg") %>
		</div>
		 <div class="col-7 details">
      <h3>You are awesome.</h3>
      <p>Women empower women. Let's come together and share our ideas, creations, happiness as well as problems. We are all here for you.</p>
    </div>
	</div>
</section>

<section class="section--primary">
  <div class="container">
    <div class="col-md-3 features">
     <i class="fa fa-heart"></i>
     <h6><strong>DONATE!!</strong></h6>
    </div>
			<div class="col-md-6" >
				<p>Your donations help us save more than 30% girls. Girls who are not able to access the basic rights of sanitation are being helped by your kindness.Your small donation means a lot to someone who is in need</p>
    </div>
  </div>
</section>

<section class="section--primary--alt ">
  <div class="container">
    <p>A revelation leaps over the borders of the everyday. </br> A life without revelation is no life at all</p>
      <%# <div class="col-md-8">
    	  <%= image_tag("dove flying.jpg") >
      </div> %>
  </div>
</section>

<section class="section--primary--alt bg-image bg-image-2">
  <div class="container text--center">
    <h3>Reasons to join us:</h3>
    <div class="col-8 text--middle">
      <ul>
        <li>We are the best way to connect</li>
        <li>You can help girls in need</li>
        <li>You are safe</li>
        <li>WHo run the world? Girls!</li>
        <li>Its free!</li>
      </ul>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <ul>
      <li><a href="#">Impressum</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Mainpage</a></li>
    </ul>
    <p>&copy; Running since 2018. Wempower. All rights reserved.</p>
  </div>
</footer>
</html>
